body {
    margin: 0;
    caret-color: #609EF2;
}

.font {
    font-family: 'YS Text',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #131416;
}

.wrap {
    padding: 50px 44px;
    max-width: 561px;
    margin: 0 auto;
}

.Thing {
    display: flex;
    border-radius: 4px;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    transition: background .1s;
}

.Thing:active {
    /* transform: scale(.99); */
    transition: transform .1s;
}

.Thing:hover {
    /* background: rgba(0,0,0,.05); */
    /* transition: background .1s; */
}

.Thing_selected {
    background: #CFE2FD;
}

.Thing_expanded {
    margin: 30px -5px 45px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(19,20,22,.15), 0 0 6px 0 rgba(19,20,22,.1);
    padding: 12px 10px;
    overflow: hidden;
    min-height: 56px;
    animation-fill-mode: forwards;
    animation: opacity .2s ease-out;
}

.Thing_expanded:focus {
    background: none;
}

.Thing_expanded:hover {
    background: none !important;
}

.Thing__edit {
    width: 100%;
    color: #131416 !important;
    height: 18px;
    padding: 0;
    border: none;
}
input[placeholder] {
    color: #ADB0B4;
}

:focus {
    background: #CFE2FD;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background: none;
}

.Thing__tick {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    position: absolute;
    margin: -5px 0;
}

.Thing__tick::after {
    transition: background .2s ease-out;
    background-position-x: 50%;
    background-position-y: 50%;
}

.Thing__tick_false::after {
    content: '';
    border: 1px solid rgba(0,0,0,.24);
    border-radius: 2px;
    margin: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Thing__tick_true::after {
    content: '';
    background-color: #2164BF;
    background-image: url('../src/tick.svg');
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: 7px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Thing__name {
    margin-left: 28px;
}

.Thing__tick_true + .Thing__name {
    color: #ADB0B4;
}

.Thing__tick_true < .Thing_selected {
    background: transparent !important;
}


.logo {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 36px
}

.doings {
    margin-top: 32px;
}

.card {
    margin: 72px auto 0;

    width: 222px;
    min-height: 333px;
    border-radius: 16px;
    
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.12);
    transition: transform .6s, box-shadow .6s;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.card:active {
    transform: scale(.95);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);
}

@media (max-width: 560px) {
    .wrap {
        padding: 50px 16px;
        max-width: 560px;
        margin: 0 auto;
    }
}

@keyframes resizeTask {
    from {
        height:0px;
    }
    to {
        min-height: 56px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        margin: 0px -5px 5px;
    } to {
        opacity: 1;
        margin: 30px -5px 45px;
    }
}